{% extends 'base.html.twig' %}

{% block body %}

<h1 class="h1_title"> Page d'inscription </h1>

<div class="row register">
	<div class="col-md-3">
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			{{ form_row(form.username, {'label': 'Username '}) }}
			{{ form_row(form.email, {'label': 'Email '}) }}
			{{ form_row(form.plainPassword.first, {'label': 'Password '})}}
			{{ form_row(form.plainPassword.second, {'label': 'Password confirmation '})}}
		    {{ form_widget(form) }}
		    <div>
		        <input type="submit" value="Valider" class="btn-primary btn_register" style="float:left;"/>
		    </div>
		</form>
	</div>
</div>

{% endblock body %}
