{% extends 'base.html.twig' %}

{% block body %}
<h1 class="h1_title"> Vos cartes bancaires </h1>

<div class="row cb_row">
	<div class="col-md-12">
		{% for item in cb %}
		{% if item is not empty %}
		<h2 class="h2_title"> Vos informations bancaires </h2>
		<p><b>Nom titulaire : </b>{{item.getLastName()}}</p>
		<p><b>Prénom titulaire : </b>{{item.getFirstName()}}</p>
		<p><b>Numéro carte : </b>XXXX XXXX XXXX {{item.getCarteNumber()|slice(12, 16)}}</p>
		<p><b>Date : </b>{{ cb.0.getMonth() }}/{{ item.getYear() }} </p>
		<a href="{{ path('cb_edit', {'id_cb': cb.0.id }) }}"><button class="btn-primary btn_cb"> Modifier </button></a>
		<p class="cb_item"> </p>
		{% else %}
		<p> Aucune carte enregistée </p>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% if cb is empty %}
	<div class="add_cb">
		<p>Ajoutez une carte de paiement : <a href="{{ path('cb_create') }}"> Ajouter </a> </p>
	</div>
	<div>
	<p>Encore Aucune carte enregistrée ! </p>
</div>
{% else %}
	<div class="add_cb">
		<p>Ajoutez une autre carte de paiement : <a href="{{ path('cb_create') }}"> Ajouter </a> </p>
	</div>
{% endif %}

{% endblock body %}